  <div id="mysidebar" class ="sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <div class="upper-sidebar">
          <a href="#"><br><img src="assets/img/avatar.jpg"><p>Ketan Tomar</p></a>
      </div>
      <div class="lower-sidebar">
          <a href="#"><i class="far fa-user-circle fa-1x"></i> Dashboard</a><br>
          <a href="#"><i class="fas fa-book-open fa-1x"></i> Course</a><br>
          <a href="#"><i class="fas fa-diagnoses fa-1x"></i> Exam</a><br>
          <a href="#"><i class="far fa-comments fa-1x "></i> Q&A</a><br>
          <a href="#"><i class="far fa-file-alt fa-1x"></i> News</a><br>
      </div>

 </div>
<div class="main">
    <div class="header"><br>
      <span style="font-size:20px;cursor:pointer ; float: left;" onclick="openNav()">&#9776;</span>
      <span id="i" >
          <a href="#"><i class="far fa-user-circle"></i></a>
          <a href="#"><i class="far fa-comments"></i></a>
          <a href="#"><i class="far fa-bell"></i></a></span>

          <h1>StudyOrb</h1>
      <span id="i1">
          <a href="#"><i class="fas fa-search" ></i></a></span>
          <input type="search" placeholder="Type here for search"><br><br>
   </div>
<hr>
<div class="username">

  <div class="left">
      <img src="assets/img/avatar.jpg" ><br>
      <div style="float:left;"><p><b>Ketan Tomar</b>&nbsp;
        <small><i style="color:#d55856" class="fas fa-star"></i>
               <i style="color:#d55856" class="fas fa-star"></i>
               <i style="color:#d55856" class="fas fa-star"></i>
               <i class="far fa-star"></i>
               <i class="far fa-star"></i>
         </small></p><br>
          <h5><b>Student</b>
          <b><a href="#">Learn More</a></b></h5><br>
         <p style="color:#d5d8dd;margin-right:140px;font-size:0.7em;">
          <i class="fas fa-leaf"></i>&nbsp; 2,707 exp</p></div>
 </div>
  <div class="right">
          <a id="xyz" href="#"><i class="fas fa-sign-out-alt"></i></a>&nbsp;
          <a id="xyz" href="#"><i class="fas fa-pencil-alt"></i></a>&nbsp;
  </div>
</div>
<div class="navbar">
 <ul>
    <li><a href="#"><b>KNOWLEDGE</b></a></li>
    <li><a href="#"><b>COURSE</b></a></li>
    <li><a href="#"><b>EXAM</b></a></li>
    <li><a href="#"><b>Q&A</b></a></li>
    <li><a href="#"><b>NEWS</b></a></li>
    <li><a href="#"><b>ACTIVITY</b></a></li>
    <li><a href="#"><b>FRIENDS</b></a></li>
  </ul>
</div>
<br>
<div class="body">
  <div class="body1">
         <div class="first">
            <div class="tab-slider--nav">
                <div class="tab-slider--tabs">
               <button class="tab-slider--trigger" [class.active]="viewMode == 'tab1'" rel="tab1" (click)="viewMode ='tab1'">
                 <h1>12</h1><h6> Done Courses</h6></button>
               <button class="tab-slider--trigger" [class.active]="viewMode == 'tab2'" rel="tab2" (click)="viewMode ='tab2'">
                  <h1>3</h1><h6>Unfinished Courses</h6></button>
             </div>
            </div>
              <div class="tab-slider--container" [ngSwitch]="viewMode">
               <div id="tab1" class="tab-slider--body" *ngSwitchCase="'tab1'">
               <p> <u>Basic for UI Designer</u></p>
              <p><u>10 steps to improve your wireframe</u></p>
              <p><u> A better way to improve your App </u></p>
              <p><u> How to speed up your  website </u></p>
            <span>Show more&nbsp;&nbsp;<i class="fas fa-angle-double-down"></i></span>
        </div>
        <div id="tab2" class="tab-slider--body" *ngSwitchCase="'tab2'">
            <p><u> How to make a good logo??</u></p>
            <p><u> What are the best mobile apps for..</u></p>
            <p><u> What is the difference between UI and..</u></p>
            <p><u> What logo include hidden message</u></p>
            <span >Show more&nbsp;&nbsp;<i class="fas fa-angle-double-down"></i></span>
            </div>
      </div>
    </div>
      <div class="second">
          <div class="tab-slider--nav">
              <div class="tab-slider--tabs">
             <button class="tab-slider--trigger" [class.active]="viewMode1 == 'tab3'" rel="tab3" (click)="viewMode1 ='tab3'">
               <h1>27</h1><h6>Asking Questions</h6></button>
             <button class="tab-slider--trigger" [class.active]="viewMode1 == 'tab4'" rel="tab4" (click)="viewMode1 ='tab4'">
               <h1>7</h1><h6>Answered question</h6></button>
           </div>
          </div>
        <div class="tab-slider--container" [ngSwitch]="viewMode1">
        <div id="tab3" class="tab-slider--body" *ngSwitchCase="'tab3'">
            <p> <u>Basic for UI Designer</u></p>
            <p><u>10 steps to improve your wireframe</u></p>
            <p><u> A better way to improve your App</u></p>
            <p><u> How to speed up your  website </u></p>
            <span >Show more&nbsp;&nbsp;<i class="fas fa-angle-double-down"></i></span>
        </div>
        <div id="tab4" class="tab-slider--body" *ngSwitchCase="'tab4'">
            <p><u> How to make a good logo??</u></p>
            <p><u> What are the best mobile apps for..</u></p>
            <p><u> What is the difference between UI and..</u></p>
            <p><u> What logo include hidden message</u></p>
            <span >Show more&nbsp;&nbsp;<i class="fas fa-angle-double-down"></i></span>
        </div>
      </div>
    </div>

      <div class="third">
          <div class="tab-slider--nav">
              <div class="tab-slider--tabs">
             <button class="tab-slider--trigger" [class.active]="viewMode2 == 'tab5'" rel="tab5" (click)="viewMode2 ='tab5'">
               <h1>19</h1><h6>Following Question</h6></button>
             <button class="tab-slider--trigger" [class.active]="viewMode2 == 'tab6'" rel="tab6" (click)="viewMode2 ='tab6'">
               <h1>80</h1><h6>Done Exam</h6></button>
           </div>
          </div>
      <div class="tab-slider--container" [ngSwitch]="viewMode2">
        <div id="tab5" class="tab-slider--body" *ngSwitchCase="'tab5'">
            <p ><u> Junior Web Designer</u></p>
            <p ><u> which is the best way to pass PMP</u></p>
            <p ><u> what are great examples of viral UX/UI </u></p>
            <p ><u> why is consistency important in design ?</u></p>
            <span>Show more&nbsp;&nbsp;<i class="fas fa-angle-double-down"></i></span>
        </div>
        <div id="tab6" class="tab-slider--body" *ngSwitchCase="'tab6'">
            <p><u> How to make a good logo??</u></p>
            <p><u> What are the best mobile apps for..</u></p>
            <p><u> What is the difference between UI and..</u></p>
            <p><u> What logo include hidden message</u></p>
            <span>Show more&nbsp;&nbsp;<i class="fas fa-angle-double-down"></i></span>
        </div>
      </div>
    </div>

<div class="body2">
      <table id="xyzz" >
          <thead>
            <tr class="table-headers">
              <th id="thed">&nbsp; EXPERIENCE GAINED</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td><img src="assets/img/exp.png"></td>
           </tr>
          </tbody>
          </table>

       <!--tables-->
       <table class="tab" >
         <thead>
         <tr class="table-headers">
           <th id="thed">&nbsp; FRIEND ACTIVITY</th>
         </tr>
         </thead>
         <tbody >
           <div style="border:1px solid #c3c9cd">
           <tr  class="trows">
             <td style=" margin-top:20px;">
               <img class="img"src="assets/img/avatar.jpg">&nbsp;</td>
             <td style="margin-top:35px;">
               <span style="color:	#4868bc"><b>MARY V.ROBINSON</b></span>&nbsp;
               <span style="color:#666">Asked question:</span>&nbsp;
               <span style="color:#675e50"><strong>What is best grid for desktop web?</strong></span>
               <span style="color:#c3c9cd;">
               &nbsp;&nbsp;<i class="fas fa-clock"></i>  9:30 PM</span><br>
               <span style="color:#c3c9cd;">
                 </span></td></tr>

           <tr class="trows">
             <td ><img class="img"src="assets/img/avatar.jpg">&nbsp;</td>
             <td style="margin-top:15px;">
               <span style="color:	#4868bc"><b>SHAWN PETERSON</b></span>&nbsp;
               <span style="color:#666">Finished the course:</span>&nbsp;
               <span style="color:#675e50"><strong>Basic for UX Designer</strong></span>
               <span style="color:#c3c9cd;padding-left:1px;">
                   &nbsp;&nbsp; <i class="fas fa-clock"></i> 9:30 PM</span><br>
                 <span style="color:#c3c9cd;">
                 </span></td>
           </tr>

           <tr class="trows">
             <td >
               <img class="img" src="assets/img/avatar.jpg">&nbsp;</td>
             <td style="margin-top:15px;">
               <span style="color:	#4868bc"><b>JOE RAMOS</b></span>&nbsp;
               <span style="color:#666">Finished the exam:</span>&nbsp;
               <span style="color:#675e50"><strong>Junior web designer</strong></span>
               <span style="color:#c3c9cd;">
                   &nbsp;&nbsp; <i class="fas fa-clock"></i> 9:30 PM</span><br>
                 <span style="color:#c3c9cd;">
                 </span></td>
           </tr>

           <tr class="trows" >
             <td><img class="img"src="assets/img/avatar.jpg">&nbsp;</td>
             <td style="margin-top:15px;margin-bottom:32px;">
               <span style="color:	#4868bc"><b>SEAN WALKER</b></span>&nbsp;
               <span style="color:#666">Answered question:</span>&nbsp;
               <span style="color:#675e50"><strong>How to make good logo?</strong></span>
               <span style="color:#c3c9cd;">
                   &nbsp;&nbsp;<i class="fas fa-clock"></i> 9:30 PM</span><br>
                   <span style="color:#c3c9cd;margin-bottom:30px;">
                     </span></td>
           </tr>
          </div>
         </tbody>
       </table>
    </div>
</div>
</div>
</div>
<br>
 <!-- FOOTER START -->
<div class="footer">
    <div style="width:100%">
    <div style="width:24%" class="coll">
      <h2><strong>Company</strong></h2>
      <ul>
        <li>About</li>
        <li>Mission</li>
        <li>Services</li>
        <li>Social</li>
        <li>Get in touch</li>
      </ul>
    </div>
    <div style="width:24%" class="coll">
      <h2 ><strong>Products</strong></h2>
      <ul>
        <li>About</li>
        <li>Mission</li>
        <li>Services</li>
        <li>Social</li>
        <li>Get in touch</li>
      </ul>
    </div>

    <div style="width:24%" class="coll">
      <h2 ><strong>Support</strong></h2>
      <ul>
        <li>Contact us</li>
        <li>Web chat</li>
        <li>Open ticket</li>
      </ul>
    </div>
    <div style="width:24%" class="coll social">
      <h2><strong>Social</strong></h2>
      <ul>
        <li><i class="fab fa-facebook-f fa-2x"></i></li>
        <li><i class="fab fa-linkedin-in fa-2x"></i></li>
        <li><i class="fab fa-instagram fa-2x"></i></li>
        <li><i class="fab fa-twitter fa-2x"></i></li>
      </ul>
    </div>
  <div class="clearfix"></div>
  </div>
  </div>
  <!-- END OF FOOTER -->

