form{
    background-image: url('pic.JPEG');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    padding-bottom: 350px;
    padding-top: 150px;

}
h1{
    font-size: 30px;
}
input{
  background: transparent;
  width: 60%;
  height: 30px;
  border-radius: 40px;
  padding: 12px 30px;
  -webkit-text-fill-color: white;
  border: 2px solid rgb(240, 176, 176);
  font-size: 20px;
  margin: 10px;
}
button{
       width: 65%;
       height: 55px;
       padding: 10px;
       border-radius: 40px;
       background-color: white;
       color: #D45858;
       font-weight: bold;
       border: 2px solid rgb(240, 176, 176);
       margin: 10px;
       font-size: 20px;

}

